body {
  margin: 0;
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #114B5F;
  text-align: center;
  color: #B6D1C8;
}
input {
height: 50px;
background-color: #E4FDE1;
color: #4299A0;
font-weight: 500;
border-style: hidden;
}
p {
  margin: auto;
  margin-left: 0;
}

.form-box {
  height: auto;
  width: 50vw;
  margin: auto;
  margin-top: 5%;
  background-color: #456990;
}
.form-content {
  padding: 5%;
  display: grid;
  gap: 10px;
}
::placeholder {
  color:#4299A0;
}
.ratings {
  width: 70px;
  margin-right: 0;
  text-align: center;
}
.rating-display {
  display: inline-flex;
}
#submit {
  background-color: #F45B69;
  width: auto;
  height: 50px;
  border-color: #C54A55;
  color: #E7EBD3;
  font-weight: 500;
  font-size: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
